.wave-block.white{
    background: var(--background);
    color: var(--font-color);
}
.wave-block.silver{
    background: var(--background2);
    color: var(--font-color);
}
.wave-block{
    position: relative;
    background: linear-gradient(45deg, #fe802d 8%, #fe0840 50%, #ac0bd9 90%);
    color: white;
    overflow: hidden;
}

.wave-block__container{
    padding-top: 150px;
    padding-bottom: 150px;
}

@media (max-width: 768px) {
    .wave-block__container{
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

